.history-container {
  height: 512px;
  width: 160px;
  border: 3px solid #2d4f4f;
  background: #274343;
  box-shadow: inset 0px 4px 60px 23px rgba(5, 2, 2, 0.6);
  overflow-y: auto;
}

.history {
  height: 100%;
  margin: 0 auto;
  width: 120px;
  text-align: center;
  color: #fff;
}
