.puzzle-back-to-menu-link {
  display: inline-block;
  text-decoration: none;
  padding-top: 10px;
  height: 20%;
  width: 12%;
  color: #fff;
  background: linear-gradient(120deg, #008080, #214343);
  box-shadow: 11px 14px 6px 0px rgba(0, 0, 0, 0.35);
  letter-spacing: 0.7px;
  cursor: pointer;
}
