.mode-selection-container {
  width: 100%;
  height: 100%;
  margin: auto;
  background: #111c1c;
  box-shadow: inset -2px 4px 247px 46px rgba(0, 0, 0, 0.58);
}

.mode-selection-titles {
  margin-bottom: 40px;
  text-shadow: 4px 8px 5px rgba(0, 0, 0, 0.75);
}

.selected-settings {
  margin: 25px 0;
}

.selected-settings h2 {
  letter-spacing: 1px;
  text-shadow: 4px 8px 5px rgba(0, 0, 0, 0.75);
}

.selected-settings h2:first-child {
  margin-bottom: 5px;
}

.mode-selection-settings {
  width: 100%;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}

.mode-selection-settings hr {
  margin: 10px;
  background: #fff;
  color: #fff;
  border: 0px none;
  height: 1px;
}

.mode-selection-timer-settings {
  margin: 35px 0 20px 0;
}

.mode-settings h2 {
  margin-bottom: 10px;
}

.mode-selection-settings button,
.mode-selection-play-game-btn {
  margin: 0 10px;
  background: linear-gradient(120deg, #008080, #214343);
  box-shadow: inset 2px 4px 3px 0px #67d4ad,
    inset -6px -6px 5px 0px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 2px;
  width: 10%;
  height: 30px;
  cursor: pointer;
  color: #fff;
}

.mode-selection-settings button:disabled{
    background: #0B4747;
    box-shadow: none;
    color: #999;
}


.mode-selection-mode-settings {
  margin-bottom: 20px;
}

.mode-selection-play-game-btn {
  margin-top: 5px;
  padding-top: 7px;
  display: inline-block;
  text-decoration: none;
  width: 13%;
}

.save-settings-btn {
  width: 10%;
}

.another-models-links a {
  display: block;
  margin-top: 15px;
  color: #fff;
}

.play-with-computer-beta-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.play-with-computer-beta-link svg {
  text-align: center;
  font-size: 14px;
  margin-left: 10px;
  margin-top: 17px;
  overflow: hidden;
}

.tooltip {
  position: relative;
}

.tooltip::before {
  display: block;
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -100px;
  padding: 10px;
  text-align: center;
  font-size: 0.8em;
  width: 200px;
  background: rgba(255, 255, 255, 0.85);
  color: #000;
  content: attr(data-tooltip);
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s;
}

.tooltip:hover::before {
  opacity: 1;
  visibility: visible;
}
