.not-found-page-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111c1c;
  box-shadow: inset -2px 4px 247px 46px rgba(0, 0, 0, 0.58);
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.not-found-page-container span {
  font-size: 40px;
  display: inline-block;
  margin: 0 15px;
}
