* {
  margin: 0;
  padding: 0;
}

body {
  background: #110600;
}

.app,
.puzzle {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
}

.board.rotated {
  transform: rotate(180deg);
}

.board.rotated .cell {
  transform: rotate(180deg);
}

.board-container h3 {
  font-size: 18px;
  text-align: center;
  margin-left: 20px;
  color: #f0e869;
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell img {
  width: 48px;
  height: 48px;
  position: relative;
}

.black {
  background-color: rgb(5, 77, 29);
}

.white {
  background-color: #c0b6a6;
}

.selected {
  background-color: rgb(90, 30, 30);
}

.available {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
}

.curtain {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.curtain.active {
  z-index: 9;
  background: rgba(0, 0, 0, 0.5);
}

.popup-container {
  visibility: hidden;
  opacity: 0;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: #412c01;
  text-align: center;
  border-radius: 7px;
  padding: 35px 0;
  overflow: hidden;
  color: #f0e869;
}

.popup-container h1,
.popup-container h2 {
  padding-top: 5px;
  padding-bottom: 10px;
}

.popup-container button {
  margin-top: 10%;
  background: #9a5323;
  color: #f0e869;
  border: none;
  height: 20%;
  width: 30%;
  cursor: pointer;
  font-weight: bold;
}

.popup-container.active {
  visibility: visible;
  opacity: 1;
  display: block;
  z-index: 999;
  width: 30vw;
  height: 30vh;
}

.game-over-button {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 10%;
  padding: 5% 0;
  background: #9a5323;
  color: #f0e869;
  border: none;
  height: 5%;
  width: 30%;
  cursor: pointer;
  font-weight: bold;
}

.mode-selection-container {
  width: 100%;
  height: 100%;
  margin: auto;
  background: #110600;
}

.mode-selection-titles {
  margin-bottom: 40px;
}

.selected-settings {
  margin: 25px 0;
}

.selected-settings h2 {
  letter-spacing: 1px;
}

.selected-settings h2:first-child {
  margin-bottom: 5px;
}

.mode-selection-settings {
  width: 100%;
  text-align: center;
  color: #f0e869;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}

.mode-selection-settings hr {
  margin: 10px;
  color: #796236;
  background-color: #796236;
  border: 0px none;
  height: 1px;
}

.mode-selection-timer-settings {
  margin: 35px 0 20px 0;
}

.mode-settings h2 {
  margin-bottom: 10px;
}

.mode-selection-settings button,
.mode-selection-play-game-btn {
  margin: 0 10px;
  background: #412c01;
  border: none;
  border-radius: 2px;
  width: 10%;
  height: 30px;
  cursor: pointer;
  color: #f0e869;
}

.mode-selection-mode-settings {
  margin-bottom: 20px;
}

.mode-selection-play-game-btn {
  margin-top: 5px;
  padding-top: 7px;
  display: inline-block;
  text-decoration: none;
  width: 13%;
}

.puzzle-link {
  display: block;
  margin-top: 15px;
  color: #f0e869;
}

.save-settings-btn {
  width: 10%;
}

.puzzle-popup {
  width: 100vw;
  height: 22vh;
  background: #412c01;
  color: #f0e869;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  text-align: center;
  z-index: 999;
}

.puzzle-popup h1 {
  margin: 20px 0;
}

.puzzle-popup button {
  height: 25%;
  width: 10%;
  background: #9a5323;
  border: none;
  color: #f0e869;
  letter-spacing: 0.7px;
  cursor: pointer;
}

.puzzle-title {
  font-size: 20px;
  text-align: center;
  color: #f0e869;
}
