* {
  margin: 0;
  padding: 0;
}

body {
  background: #111c1c;
  box-shadow: inset -2px 4px 247px 46px rgba(0, 0, 0, 0.58);
}

.app,
.puzzle {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
}

.board.rotated {
  transform: rotate(180deg);
}

.board.rotated .cell {
  transform: rotate(180deg);
}

.board-container h3 {
  font-size: 18px;
  text-align: center;
  margin-left: 20px;
  color: #fff;
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell img {
  width: 64px;
  height: 64px;
  position: relative;
  transition: 1s all ease;
}

.black {
  background: linear-gradient(170deg, #008080, #214343);
  box-shadow: inset 2px 4px 3px 0px #67d4ad,
    inset -6px -6px 5px 0px rgba(0, 0, 0, 0.25);
}

.white {
  background: linear-gradient(170deg, #b5c39e, #619985);
  box-shadow: inset 4px 4px 5px 0px #dfd9ba,
    inset -8px -6px 5px 0px rgba(0, 0, 0, 0.25);
}

.selected {
  background-color: rgb(90, 30, 30);
}

.available {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
}

.curtain {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.curtain.active {
  z-index: 9;
  background: rgba(0, 0, 0, 0.5);
}

.popup-container {
  visibility: hidden;
  opacity: 0;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: #111c1c;
  text-align: center;
  border-radius: 7px;
  padding: 35px 0;
  overflow: hidden;
  color: #fff;
  box-shadow: inset 0px 0px 3px 5px rgba(0, 0, 0, 0.5),
    inset 1px 0px 0px 11px #1e8b81, inset 20px 20px 61px -3px rgba(0, 0, 0, 0.5),
    9px 8px 14px 11px rgba(0, 0, 0, 0.5);
}

.popup-container h1,
.popup-container h2 {
  padding-top: 5px;
  padding-bottom: 10px;
}

.popup-container h1,
.puzzle-popup h1 {
  text-shadow: 10px 11px 8px rgba(0, 0, 0, 0.9);
}

.popup-container h2 {
  text-shadow: 7px 8px 5px rgba(0, 0, 0, 0.9);
}

.popup-container button,
.game-over-button {
  margin-top: 10%;
  background: linear-gradient(120deg, #008080, #214343);
  box-shadow: 11px 14px 6px 0px rgba(0, 0, 0, 0.35);
  color: #fff;
  border: none;
  height: 20%;
  width: 30%;
  cursor: pointer;
  font-weight: bold;
}

.popup-container.active {
  visibility: visible;
  opacity: 1;
  display: block;
  z-index: 999;
  width: 30vw;
  height: 30vh;
}

.game-over-button {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 10%;
  padding: 5% 0;
  height: 5%;
  width: 30%;
  cursor: pointer;
  font-weight: bold;
}

.puzzle-link {
  display: block;
  margin-top: 15px;
  color: #f0e869;
}

.save-settings-btn {
  width: 10%;
}

.puzzle-popup {
  width: 100vw;
  height: 22vh;
  background: #111c1c;
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  text-align: center;
  z-index: 999;
  box-shadow: inset 0px 0px 3px 5px rgba(0, 0, 0, 0.5),
    inset 1px 0px 0px 11px #1e8b81, inset 20px 20px 61px -3px rgba(0, 0, 0, 0.5),
    9px 8px 14px 11px rgba(0, 0, 0, 0.5);
}

.puzzle-popup h1 {
  margin: 20px 0;
}

.puzzle-popup button {
  height: 25%;
  width: 10%;
  border: none;
  letter-spacing: 0.7px;
  color: #fff;
  cursor: pointer;
  background: linear-gradient(120deg, #008080, #214343);
  box-shadow: 11px 14px 6px 0px rgba(0, 0, 0, 0.35);
}

.puzzle-title {
  font-size: 20px;
  text-align: center;
  color: #fff;
}

.puzzle-api-info,
.puzzle-api-info a {
  color: #fff;
  text-align: center;
  margin-top: 10px;
}

.puzzle-api-info,
.puzzle-api-info a,
.puzzle-title {
  text-shadow: 4px 8px 3px rgba(0, 0, 0, 0.6);
}
